<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!--Bootstrap-->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<title>New York Times Scraper</title>


</head>

<body>
	<header>
		<a href="/"><div id="sitename">Mongo Scraper</div></a>
		<a href="/"><button id="all-articles">All Articles</button></a>
		<a href="/saved"><button id="saved-articles">Saved Articles</button></a>
		<form action="/scrape" method="GET">
			<button type="submit" id="refresh-articles">Scrape For Newest Articles</button>
		</form>
	</header>
    
	<img id="cover" src="/assets/images/newspaper.png">
	
	<div id="container">
		{{{ body }}}
	</div>
	
	<script src="/assets/javascript/app.js"></script>

	<div id="addnote">
		<div id="note-displayer">
			<h2>Note</h2>
			<h3>Article: <span id="article-title"></span></h3>
			<div id="note">
				<label for="note-title">Title</label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Note</label><br>
				<textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save Note</button>
				<button type="button" id="close-note">Cancel</button>
			</div>
		</div>
	</div>
	
	<footer> Natalya Garusova 2018</footer>
	<script src="/assets/javascript/app.js"></script>




	 {{!-- <!--Modal popup message for Newest Articles-->
     <div id="modalContainerNewestArticles">

         <div id="myModalNewestArticles" class="modal fade" tabindex="-1" role="dialog">

         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">Thank you for Scrapeing for Newest Articles!</h4>
             </div>
             <div class="modal-body">
                 <p id="thanksPair">Newest Articles Scraped!</p>

             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-danger" id="#modalBtn" data-dismiss="modal">Close</button>

             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->
     </div> <!-- /.modal container --> --}}

 </body>
</html>